.footer__row--body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #898989;
        bottom: 90px;
        left: 0;
    }
}
.copyrayting{
    font-size: 13px;
    font-weight: 600;
    line-height: 140%; 
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}
.nav--footer{
    display: flex;
    align-items: center;
    gap: 40px;

    & a{
        font-size: 20px;
        font-weight: 500;
        line-height: 120%; 
        letter-spacing: 0.72px;
        color: white;
        transition: color .5s ease;
    }

    & a:hover{
        color: #DB3138;
        transition: color .5s ease;
    }
}